
<div class="suggestion">
<div class="s-text">
<h2>Need a website? </h2>
<p> SupportLabs can hook you up with your own custom website.</p>
</div>
</div>

<div class="tool">
<div class="description">
<h1>Alert Box </h1>
<p>Reward your loyal fans by displaying cool alerts on the stream.</p>
</div>
<div class="template-selection">
<h2>Templates</h2>
<p> Why not use some of these templates made  by our communtiy </p>
</div>
	<div class="tool-url">
	<h3>Tool URL</h3>
	<input type="password" class="tool-url-field"> </input>
	<br>
	   <p>⚠️This is your widget url. Never show this to anyone!</p>
</div>

<div class="preview">

</div>

<div class="tool-form">



<div class="manage-goal-tab tab">
<div class="row">
<label for="title" class="l-col">Title</labeL>
<input type="text" class="r-col field" name="title" placeholder="My Goal">
</div>
<div class="row">
<label for="title" class="l-col">Title</labeL>
<input type="text" class="r-col field" name="title" placeholder="100">
</div>
<div class="row">
<label for="title" class="l-col">Title</labeL>
<input type="text" class="r-col field" name="title" placeholder="0">
</div>
<div class="row">
<label for="title" class="l-col">Title</labeL>
<input type="text" class="r-col field" name="title" placeholder="MM/DD/YYYY">
</div>

</div>
<div class="settings-tab tab ">
<div class='row'>
<label for="layout" class="l-col">Layout</label>
<select class="r-col dropdown" name="layout">
<option value="standard">Standard</option>
<option value="condensed">Condensed</option>
</select>

</div>
<div class='row'>
<label for='bg-color' class='l-col'>Background Color</label>
<input type='text' name='bg-color' class='field r-col color-picker'></input>
</div>
<div class='row'>
<label for='text-color' class='l-col'>Text Color</label>
<input type='text' name='text-color' class='field r-col color-picker'></input>
</div>
<div class='row'>
<label for='bar-text-color' class='l-col'>Bar Text Color</label>
<input type='text' name='bar-text-color' class='field r-col color-picker'></input>
</div>
<div class='row'>
<label for='bar-color' class='l-col'>Bar Color</label>
<input type='text' name='bar-color' class='field r-col color-picker'></input>
</div>
<div class='row'>
<label for='bar-bg-color' class='l-col'>Bar Background Color</label>
<input type='text' name='bar-bg-color' class='field r-col color-picker'></input>
</div>

<div class='row'>
<label for='bar-thickness' class='l-col'>Bar Thickness</label>
<input type='range' class='slider r-col'  name='bar-thickness'>
</div>
<div class='row'>
<label class="l-col" name="font">

</div>

<div class='row'>
<label for='font' class='l-col'>Font</label>
<select class="r-col dropdown" name='font'>
<option value="arial">Arial</option>
<option value="roboto">Roboto</option>
<option value="titlium-web">Titlium-Web</option>
</div>

<div class="row">
<div class="l-col">
<p>Enable Custom HTML/CSS</p>
</div>
<div class="r-col">
<input type="checkbox" name="custom-html" class="on" value="enabled">
<label for="custom-html">Enabled</label>
<input type="checkbox" name="custom-html" class="on" value="disabled">
<label for="custom-html">Disabled</label>
</div>

</div>

</div>



</div>

<a class="button" id="save_changes">Save Changes </a>



<div class="upload-fonts">
	<h4>Upload More Fonts!</h4>
	<a class="button">Upload Fonts</a>
</div>
