<h1> Event List</h1>
<p>Show all channel events that have occured on your stream </p>

<div class="suggestion">
<div class="s-text">
<h2>Need a website? </h2>
<p> SupportLabs can hook you up with your own custom website.</p>
</div>
</div>

<div class="tool">
<div class="description">
<h1>Alert Box </h1>
<p>Reward your loyal fans by displaying cool alerts on the stream.</p>
</div>
<div class="template-selection">
<h2>Templates</h2>
<p> Why not use some of these templates made  by our communtiy </p>
</div>
	<div class="tool-url">
	<h3>Tool URL</h3>
	<input type="password" class="tool-url-field"> </input>
	<br>
	   <p>⚠️This is your widget url. Never show this to anyone!</p>
</div>

<div class="checkboxes">
<h3>Alert Types </h3>
<input type="checkbox" name="followers" id="followers" class="on">
<label for"followers">Followers</label>
<input type="checkbox" name="subscriptions" id="subscriptions" class="on">
<label for"subscriptions">Subscriptions</label>
<input type="checkbox" name="resubs" id="resubs" class="on">
<label for"resubs">Resubs</label>
<input type="checkbox" name="donations" id="donations" class="on">
<label for"donations">Donations</label>
<input type="checkbox" name="hosts"id="hosts" class="on">
<label for"hosts">Hosts</label>
<input type="checkbox" name="bits" id="bits" class="on">
<label for"bits">Bits</label>
<input type="checkbox" name="merch" id="merch" class="on">
<label for"merch">merch</label>
<input type="checkbox" name="patrons" id="patrons" class="on">
<label for="patrons">Patrons</label>
<br>
</div>







<div class="tool-form">
<div class="general-tab tab">
<div class="row">
<p>Once the widget is open and running, use the buttons below to queue up sample alerts.</p>
<nav>
<button>Test Follow</button>
<button> Test Subscription </button>
<button> Test Donation </button>
<button> Test Hosting </button>
<button> Test Bit </button>
<button> Test Raid </button>
<button> Test Merch </button>


</nav>
</div>
<div class='row'>
<label class="l-col" for="theme">Theme</label>
<select class="dropdown r-col" name="theme">
<option value="carbon">Carbon</option>
<option value="chevrons">Chevrons</option>
<option value="crisscross">CrissCross</option>
<option value="slick">Slick</option>
<option value="fiber">Fiber</option>
<option value="solid">Solid</option>
<option value="stripes">Stripes</option>
<option value="hearts">Hearts</option>
<option value="honeycomb">Honeycomb</option>
</div>
<div class="row">
<div class="l-col">
<p>Enable Events</p>
</div>
<div class="r-col">
<input type="checkbox" name="followers" id="followers" class="on">
<label for="followers">Followers</label>
<input type="checkbox" name="subscriptions" id="subscriptions" class="on">
<label for="subscriptions">Subscriptions</label>
<input type="checkbox" name="resubs" id="resubs" class="on">
<label for="resubs">Resubs</label>
<input type="checkbox" name="donations" id="donations" class="on">
<label for="donations">Donations</label>
<input type="checkbox" name="hosts"id="hosts" class="on">
<label for="hosts">Hosts</label>
<input type="checkbox" name="bits" id="bits" class="on">
<label for="bits">Bits</label>
<input type="checkbox" name="merch" id="merch" class="on">
<label for="merch">merch</label>
<input type="checkbox" name="patrons" id="patrons" class="on">
<label for="patrons">Patrons</label>
</div>
</div>
<div class='row'>
<label for='min-bits' class='l-col'>Thing</label>
<input type='text' name='min-bits' class='field r-col'></input>
</div>
<div class='row'>
<label for='max-events' class='l-col'>Slider</label>
<input type='range' class='slider r-col'  name='slider'>
</div>
<div class="row">
<label for="bg-color" class="l-col">Background Color</label>
<input type="text" name="bg-color" class="field r-col color-picker">
</div>
<div class="row">
<label for="text-color" class="l-col">Text Color</label>
<input type="text" name="text-color" class="field r-col color-picker">
</div>
<div class="row">
<label for="font" class="l-col">Font</label>
<select class="r-col dropdown" name="font">
<option value="arial">Arial</option>
<option value="roboto">Roboto</option>
<option value="titlium-web">Titlium-Web</option>
    </select>
</div>
<div class="row">
<div class="l-col">
<h4>Alert Animation</h4>
<p>Select the behaviors of your alert when it appears or disappears.</p>
</div>
<div class="r-col">
<select class="dropdown" name="follower-fade-in-animation">
	<option class="dropdown-section" disabled="">Fade</option>
	<option value="default">Fade In</option>
	<option class="dropdown-section" disabled="">Slide</option>
	<option value="slideup">Slide Up</option>
	<option value="slidedown">Slide Down</option>
	<option value="slideleft">Slide Left</option>
	<option value="slideright">Slide Right</option>
	<option class="dropdown-section" disabled="">Bounce</option>
	<option value="bounceup">Bounce Up</option>
	<option value="bouncedown">Bounce Down</option>
	<option value="bounceleft">Bounce Left</option>
	<option value="bounceright">Bounce Right</option>
	<option class="dropdown-section">Spin</option>
	<option value="spin"></option>
	</select>

	<select class="dropdown" name="follower-fade-out-animation">
	<option class="dropdown-section" disabled="">Fade</option>
	<option value="default">Fade In</option>
	<option class="dropdown-section" disabled="">Slide</option>
	<option value="slideup">Slide Up</option>
	<option value="slidedown">Slide Down</option>
	<option value="slideleft">Slide Left</option>
	<option value="slideright">Slide Right</option>
	<option class="dropdown-section" disabled="">Bounce</option>
	<option value="bounceup">Bounce Up</option>
	<option value="bouncedown">Bounce Down</option>
	<option value="bounceleft">Bounce Left</option>
	<option value="bounceright">Bounce Right</option>
	<option class="dropdown-section" disabled="">Spin</option>
	<option value="spin">Spin</option>
	</select>

</div>
<div class="row">
<label for="animation-speed">Animation Speed</label>
<input type="range" class="r-col slider" name="animation-speed">
</div>
<div class='row'>
<label for="fade-time" class="l-col">Fade Time</label>
<input type="range" class="r-col slider" name="fade-time">
</div>
<div class="row">
<div class="l-col">
<p>Other Options </p>
</div>
<div class="r-col">
<input type="checkbox" class="on" name="flip-x">
<label for="flip-x">Flip X </label>
<input type="checkbox" class="off" name="flip-y">
<label for="flip-y">Flip Y</label>
<input type="checkbox" class="on" name="keep-events-history">
</div>
</div>
<div class='row'>
<div class="l-col">
<p>Enable Custom HTML/CSS/JS
</div>
<div class="r-col">
<input type="radio" name="custom-code" class="on" value="on">
<label for="custom-code">Enabled</label>
<input type="radio" name="custom-code" class="on" value="off">
</div>
</div>


<a class="standard_button" id="save_changes">Save Changes </a>



<div class="upload-fonts">
	<h4>Upload More Fonts!</h4>
	<a class="button">Upload Fonts</a>
</div>
