<div class="suggestion">
<div class="s-text">
<h2>Need a website? </h2>
<p> SupportLabs can hook you up with your own custom website.</p>
</div>
</div>

<div class="tool">
<div class="description">
<h1>Alert Box </h1>
<p>Reward your loyal fans by displaying cool alerts on the stream.</p>
</div>
<div class="template-selection">
<h2>Templates</h2>
<p> Why not use some of these templates made  by our communtiy </p>
</div>
	<div class="tool-url">
	<h3>Tool URL</h3>
	<input type="password" class="tool-url-field"> </input>
	<br>
	   <p>⚠️This is your widget url. Never show this to anyone!</p>
</div>


<div class="tool-form">
<div class="general-tab tab">
	<div class="preview" id="chatbox-preview"></div>
	<div class="row">
	<label for="theme" class="l-col">Theme</label>
	<select name="theme" class="r-col dropdown" id="theme">
	</div>
	<div class="row">
	<div class="l-col">
	<h3>Badges</h3>
	</div>
	<div class="r-col">
	<input type="checkbox" name="followers" id="followers" class="on">
<label for="followers">Followers</label>
<input type="checkbox" name="subscriptions" id="subscriptions" class="on">
<label for="subscriptions">Subscriptions</label>
<input type="checkbox" name="resubs" id="resubs" class="on">
<label for="resubs">Resubs</label>
<input type="checkbox" name="donations" id="donations" class="on">
<label for="donations">Donations</label>
<input type="checkbox" name="hosts"id="hosts" class="on">
<label for="hosts">Hosts</label>
<input type="checkbox" name="bits" id="bits" class="on">
<label for="bits">Bits</label>
<input type="checkbox" name="merch" id="merch" class="on">
<label for="merch">merch</label>
<input type="checkbox" name="patrons" id="patrons" class="on">
<label for="patrons">Patrons</label>
	</div>
	</div>
	
<div class='row'>
<label for='bg-color' class='l-col'>Background Color</label>
<input type='text' name='bg-color' class='field r-col'></input>
</div>
<div class='row'>
<label for='text-color' class='l-col'>Text Color</label>
<input type='text' name='text-color' class='field r-col'></input>
</div>
<div class='row'>
<label for='font-size' class='l-col'>Font Size</label>
<input type='range' class='slider r-col' name='font-size'>
</div>
<div class='row'>
<label for='font-size' class='l-col'>Font Size</label>
<input type='range' class='slider r-col' name='font-size'>
</div>
<div class='row'>
<p class="l-col">Always Show Messages</p>
<div class="r-col">
<input type='checkbox' class='on' name='always-show-messages'>
<label for="always-show-messages">Always Show Messages</label>
</div>
</div>
<div class='row'>
<label for='font-size' class='l-col'>Font Size</label>
<input type='range' class='slider r-col' name='font-size'>
</div>
<div class='row'>
<label for='chat-delay' class='l-col'>Slider</label>
<input type='range' class='slider r-col'  name='chat-delay'>
</div>
<div class='row'>
<div class="l-col">
<p>Hide Chatters</p>
</div>
<div class="r-col">
<label for="hide-chatbots">Hide Chatbots</label>
<input type="checkbox" class="on" name="hide-chatbots">
<label for="hide-commands">Hide Commands</label>
<input type="checkbox" class="on" name="hide-chatbots">
</div>
</div>
<div class="row">
<label for="mutted-chatters">Muted Chatters</label>
<textarea rows="20" col="40" class="textbox" name="mutted-chatters">
</textarea>
</div>
<div class="row">
<label name="custom-bad-words" class="l-col">Custom Bad Words</labels>
<input type="text" class="field r-col" name="custom-bad-words">
</div>
<div class="row">
<div class="l-col">
<p>Enable Custom HTML/CSS/JS</p>
</div>
<div class="r-col">
<input type="radio" name="custom-code" class="on">
<label for="custom-code">Enabled</label>
<input type="radio" name="custom-code" class="on">
<label for="custom-code">Enabled</label>
</div>
</div>
<a class="button" id="save_changes">Save Changes </a>
<div class="upload-fonts">
	<h4>Upload More Fonts!</h4>
	<a class="button">Upload Fonts</a>
</div>
